@model _2210900059_PTQ_DATN.Models.DichVu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DichVu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDichVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiDichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiDichVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CongNghe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CongNghe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoBuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoBuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoiTuongPhuHop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoiTuongPhuHop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VungTacDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VungTacDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaNgan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaNgan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungChiTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiBat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiBat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDanhMucDvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDanhMucDvNavigation.MaDanhMucDv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNguoiCapNhatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNguoiCapNhatNavigation.MaNguoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNguoiTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNguoiTaoNavigation.MaNguoiDung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDichVu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
