@model IEnumerable<_2210900059_PTQ_DATN.Models.DonHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDonHangCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhiVanChuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNguoiDungNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDonHangCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNguoiDungNavigation.MaNguoiDung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDonHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDonHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDonHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
