@model IEnumerable<_2210900059_PTQ_DATN.Models.DanhMucDichVu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDanhMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNguoiCapNhatNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNguoiTaoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNguoiCapNhatNavigation.MaNguoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNguoiTaoNavigation.MaNguoiDung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDanhMucDv">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDanhMucDv">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDanhMucDv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
